html
    head
        title Google Loogin
        link(rel='stylesheet', href='/style.css')
    body
            img.google(src='/google2015.gif')
            a(href='/auth/google')
                img.login(src='/glogin.png')
            