body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login {
    padding: 40px;
    width: 300px;
    height: 50px;
}
#people {
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
}
.center {
    width: 100%;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}